<section class="container">
  <h1>Message System Client</h1>
  <form class="email-form" (submit)="getMessages($event)">
    <input type="email" name="email" placeholder="Your email" [(ngModel)]="email"/>
    <input type="submit" [value]="buttonText()"/>
  </form>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Message</th>
        <th>Result</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      @for( message of messageList; track message ){
        <tr>
          <td>{{message.id}}</td>
          <td>{{message.status}}</td>
          <td>{{message.message}}</td>
          <td>{{message.result}}</td>
          <td>{{formatDate(message.created_at)}}</td>
          <td>{{formatDate(message.updated_at)}}</td>
        </tr>
      }
    </tbody>
  </table>
</section>